#layout-groups div:nth-child(1) {
  flex: 1 !important;
  flex-basis: 0 !important;
}

#layout-groups div:nth-child(2) {
  flex: 2 !important;
  flex-basis: 0 !important;
}

#layout-groups div:nth-child(3) {
  flex: 1 !important;
  flex-basis: 0 !important;
}