/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}
 
 
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
 
 
/* Apply zoom specifically for the Homepage */
html {
  font-size: 90%;
}

 
/* Due to tailwind v4*/
.container {
  @media(min-width: 767px) {
    max-width: 100vw !important;
    width: 90% !important;
  }
}

 
/* For custom classes used in iFrame */
.iframe-home-assistant-media {
  width: 300px;
  height: 500px;
}
 
 
.iframe-home-assistant-weather {
  background: transparent;
  height: 285px;
  margin: -13px 0px 0px 0px;
  @media(min-width: 767px) {
    zoom: 0.85;
    height: 280px;
  }
  @media(min-width: 1536px) {
    zoom: 0.83;
    height: 290px;
  }
  @media(min-width: 1800px) {
    zoom: 0.92;
    height: 260px;
  }
}
 
 
.iframe-grafana {
  background: transparent;
  zoom: 0.8;
  height: 900px;
  margin: -13px 0px 0px 0px;
}


.iframe-cameras {
  background: transparent;
  zoom: 0.9;
  height: 800px;
  margin: -13px 0px 0px 0px;
}


/* For custom column layout */
.services-list.flex.flex-col {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}
.services-list.flex.flex-col .service {
    grid-column: span 4;
}
.services-list.flex.flex-col .service > div {
    height: 100%;
}
.services-list.flex.flex-col .service > .mb-2 {
    margin-bottom: 0 !important;
}
.services-list.flex.flex-col [id^="col-1"].service {
    grid-column: span 1;
}
.services-list.flex.flex-col [id^="col-2"].service {
    grid-column: span 2;
}
.services-list.flex.flex-col [id^="col-3"].service {
    grid-column: span 3;
}