/* For custom column layout */
.services-list.flex.flex-col {
    display: grid !important;
    grid-template-columns: 4;
    gap: 0.5rem;
}
.services-list.flex.flex-col .service {
    grid-column: span 4;
}
.services-list.flex.flex-col .service > div {
    height: 100%;
}
.services-list.flex.flex-col .service > .mb-2 {
    margin-bottom: 0 !important;
}
.services-list.flex.flex-col [id^="col-1"].service {
    grid-column: span 1;
}
.services-list.flex.flex-col [id^="col-2"].service {
    grid-column: span 2;
}
.services-list.flex.flex-col [id^="col-3"].service {
    grid-column: span 3;
}