/* 
For custom column layout 
[https://web.archive.org/web/20250220082406/https://pastebin.com/MHmLFvLL](https://web.archive.org/web/20250220082406/https://pastebin.com/MHmLFvLL)
[https://web.archive.org/web/20250220083734/https://pastebin.com/1DCcKecf](https://web.archive.org/web/20250220083734/https://pastebin.com/1DCcKecf)
[https://web.archive.org/web/20250220082606/https://pastebin.com/4qKdL0d0](https://web.archive.org/web/20250220082606/https://pastebin.com/4qKdL0d0)
[https://web.archive.org/web/20250220082808/https://pastebin.com/rMWV1T0V](https://web.archive.org/web/20250220082808/https://pastebin.com/rMWV1T0V)
*/
.services-list.flex.flex-col {
    display: grid !important;
    grid-template-columns: repeat(42, 1fr);
    gap: 0.5rem;
}
.services-list.flex.flex-col .service {
    grid-column: span 42;
}
.services-list.flex.flex-col .service > div {
    height: 100%;
}
.services-list.flex.flex-col .service > .mb-2 {
    margin-bottom: 0 !important;
}
.services-list.flex.flex-col [id^="col-1-8"].service {  /* 1/8 */
    grid-column: span 7;
}
.services-list.flex.flex-col [id^="col-9-21"].service { /* 9/21 */
    grid-column: span 18;
}
.services-list.flex.flex-col [id^="col-1-2"].service { /* 1/2 */
    grid-column: span 21;
}
.services-list.flex.flex-col [id^="col-12-21"].service {  /* 12/21 */
    grid-column: span 24;
}
.services-list.flex.flex-col [id^="col-3x"].service {
  @media(min-width: 1100px) {
    grid-column: span 50;
  }
  @media(min-width: 1536px) {
    grid-column: span 156;
  }
  @media(min-width: 1800px) {
    grid-column: span 194;
  }
}
