.services-list.flex.flex-col {
    display: grid !important;
    grid-template-columns: repeat(42, 1fr);
    gap: 0.5rem;
}
.services-list.flex.flex-col .service {
    grid-column: span 42;
}
.services-list.flex.flex-col .service > div {
    height: 100%;
}
.services-list.flex.flex-col .service > .mb-2 {
    margin-bottom: 0 !important;
}
.services-list.flex.flex-col [id^="col-small"].service { /*tech, 1/3*/
    grid-column: span 7;
}
.services-list.flex.flex-col [id^="col-medium"].service {  /*bookmarks, 1/7*/
    grid-column: span 18;
}
.services-list.flex.flex-col [id^="col-large"].service { /*1/2*/
    grid-column: span 21;

}
.services-list.flex.flex-col [id^="col-max"].service {  /*2/3*/
    grid-column: span 24;
}