/* For custom column layout */
.services-list.flex.flex-col {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.servicess-list.flex.flex-col [id^="col-1-2"].service {
    grid-column-start: 1;
    grid-column-end: 2;
}

.servicess-list.flex.flex-col [id^="col-1-4"].service {
    grid-column-start: 1;
    grid-column-end: 4;
}

.servicess-list.flex.flex-col [id^="col-2-4"].service {
    grid-column-start: 2;
    grid-column-end: 4;
}